* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}



:root {
    
--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);
--Dark-Grayish-Red: hsl(0, 6%, 24%);

/*- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)*/
}


body{
    background:  linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)) ;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}




header {
    padding: 1.5rem;
}

.banner-base img  {
  width: 100%;
 
}

.banner-base .woman-mobile {
    margin-bottom: 3em;
}


.banner-base .woman-desk {
    display: none;
}



.informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@keyframes shake {
    0% {
        position: relative;
        left: -10px;
        opacity: 50%;
    }

    50% {
        position: relative;
        left: 0px;
        right: -10px;
    }

    100% {
        position: relative;
        right: 0px;
        opacity: 100%;
    }
}


h1{
    text-transform: uppercase;
    font-size: 3.4em;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: .3em;
}

h1 .light {
    font-weight:lighter;
    color: var(--Desaturated-Red);
}

p {
    color: var(--Desaturated-Red);
    width: 90%;
    line-height: 1.4em;
    margin-bottom: .9em;
}

.error-txt {
    position: absolute;
    top: 57px;
    left: -17px;
    color:var(--Soft-Red);
}



form {
    position: relative;
    margin-bottom: 4em;
}

label{ 
    display: flex;
}

label i {
    position: relative;
    top: 21px;
    right: 90px;
    color: var(--Soft-Red);
    opacity: 0%;
}



i.error {
    opacity: 100%;
}


input {
    border: 1px solid  hsl(0, 80%, 86%);
    min-width: 300px;
    padding: 1rem;
    border-radius: 25px;
}

input {
    outline: none;
}


input.red {
    animation: shake ease-in-out 1s;
    border: 1px solid hsl(0, 93%, 68%); 
}

input.red-2::placeholder {
    color: var(--Soft-Red);
}

button {
    position: absolute;
    right: 17px;
    width: 65px;
    height: 52px;
    border-radius: 25px;
    border: none;
    background:   linear-gradient(135deg, hsl(0, 38%, 84%), hsl(0, 74%, 74%) );
    cursor: pointer;
}

button:hover, button:active {
 color: azure;
  background: linear-gradient(135deg, from hsl(0, 80%, 71%), to hsl(0, 33%, 61%));
}



@media (min-width: 1440px) and (max-height: 800px) {
      header {
        position: absolute;
        top: -35px;
        left: 15px;
    }

    .informacao {
        position: relative;
        left: -70px;
    }

    h1{
    letter-spacing: 7px;
}

   body  main {
        background: url(bg-pattern-desktop.svg);
        background-size: 58% 100% ;
        background-repeat: no-repeat;
    }

}

@media (min-width:1440px) {
  
    body {
        overflow: hidden;
        background:  linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)) ;
    }
   
    .banner-base .woman-mobile {
        display: none;
    }
    
    .banner-base .woman-desk {
        display: block;
        width: 100%;
        height: 100vh;
    }


    main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background: url(bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 55% 100% ;
    }

    header {
        position: absolute;
        margin-top: 5%;
        margin-left:7%;
    }

    .informacao {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        width: 35%;
        margin-top: 5%;
        margin-right: 11%;
    }
   

    h1{
        width: 90%;
       
        font-size: 4.4em;
        margin-bottom: .4em;
    }

    p {
        margin-bottom: 2em;
    }


    form {
        position: relative;
        left: -10px;
    }
  

    input {
        border: 1px solid hsl(0, 36%, 70%);
        min-width: 450px;
        padding: 1rem;
        border-radius: 25px;
    }

    
button {
    position: absolute;
    right: 15px;
    width: 65px;
    height: 52px;
}

.error-txt {
    position: absolute;
    top: 60px;
    left: 10px;
    color:var(--Soft-Red);
}

  
}


